$innisfree-green: #257943;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

@mixin horizontalMenuStyle {
  ul {
    li {
      display: inline;
      padding: 0px 8px 0px 8px;
    }
  }
}

@mixin categoryTitleStyle {
  text-align: center;
  h2 {
    font-size: 22px;
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
  margin-bottom: -15px;
}

@mixin rowStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: {
    left: 5%;
    right: 5%;
  }
}

@mixin columnStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: (100% / 4);
  height: 558px;
  img {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  text-align: center;
}

@mixin coverImageStyle {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $innisfree-green;
    text-decoration: underline;
  }
}

@mixin categoryLabelStyle {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 18px;
  width: 60px;
  font: {
    size: 12px;
    weight: 500;
  }
}

@mixin fauxButtonStyle {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 185px;
  &:hover {
    cursor: pointer;
    a {
      text-decoration: none;
    }
  }
}

nav {
  margin-bottom: 20px;
}

.top-black-bar {
  background-color: black;
}

.top-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: {
    left: 20px;
    right: 10%;
  }
  padding: 6px;
  font-size: 12px;
  a {
    color: white;
  }
}

.about {
  a {
    color: $innisfree-green;
    font-size: 16px;
    &:hover {
      color: white;
    }
  }
}

.promotions {
  display: flex;
  align-self: center;
  text-decoration: underline;
}

.top-right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include horizontalMenuStyle;
  font-size: 12px;
}

.user-account-links {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.help, .login {
  padding: 10px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 30px;
  margin: {
    top: 0;
    left: 2%;
    right: 2%;
  }
  @include horizontalMenuStyle;
}

.main-menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  wrap: nowrap;
  a {
    font-weight: bold;
    font-size: 15px;
    &:hover {
      text-decoration: none;
    }
  }
}

.search-bag {
  display: flex;
  align-self: center;
  img {
    height: 25px;
    width: auto;
  }
}

#bag-icon {
  margin-left: 10px;
}

.cover-image {
  @include coverImageStyle;
}

.feature-slideshow {
  margin-bottom: 85px;
}

.category-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: center;
  font: {
    size: 14px;
    weight: bold;
  }
}

.category-headline {
  display: flex;
  justify-content: center;
  @include categoryTitleStyle;
}

.row {
  @include rowStyle;
}

.col-md-3 {
  @include columnStyle;
  h3 {
    font: {
      size: 18px;
      weight: normal;
    }
  }
}

.best-sellers {
  margin-bottom: 90px;
}

.whats-new {
  margin-bottom: 60px;
}

.product-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: {
    left: auto;
    right: auto;
  }
}

.best-label {
  @include categoryLabelStyle;
  color: #bc0b1a;
  border: 2px solid #bc0b1a;
}

.new-label {
  @include categoryLabelStyle;
  color: $innisfree-green;
  border: 2px solid $innisfree-green;
}

.limited-label {
  margin-left: 15px;
  @include categoryLabelStyle;
  color: #e88310;
  border: 2px solid #e88310;
}

.rating-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 20px;
    width: auto;
    margin-right: 10px;
  }
  p {
    font-size: 14px;
    color: gray;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

h4 {
  font-weight: 500;
}

.options {
  font-size: 12px;
  color: gray;
  margin-top: -12px;
}

.quick-shop {
  @include fauxButtonStyle;
  font: {
    size: 11px;
    weight: 700;
  }
  border: 1px solid black;
  border-radius: 3px;
  &:hover {
    background-color: black;
    a {
      color: white;
    }
  }
}

.sheet-masks-content {
  width: 38%;
  display: flex;
  flex-direction: column;
  margin: {
    top: -32%;
    left: auto;
    bottom: 17%;
    right: auto;
  }
  position: static;
  text-align: center;
  h1 {
    font-size: 50px;
    margin-bottom: -10px;
  }
}

.discover {
  @include fauxButtonStyle;
  font: {
    size: 15px;
    weight: 700;
  }
  background-color: black;
  a {
    color: white;
  }
  &:hover {
    background-color: $innisfree-green;
    a {
      color: white;
    }
  }
}
