* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@mixin horizontalMenuStyle {
  ul {
    li {
      display: inline;
      padding: 0px 8px 0px 8px;
    }
  }
}

@mixin categoryTitleStyle {
  text-align: center;
  h2 {
    font-size: 25px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
  }
}

@mixin rowStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: {
    left: 5%;
    right: 5%;
  }
}

@mixin columnStyle {
  display: flex;
  flex-direction: column;
  width: (100% / 4);
  img {
    width: 100%;
    height: auto;
  }
  text-align: center;
}

@mixin coverImageStyle {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  margin-bottom: 20px;
}

.top-black-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  font-size: 12px;
  background-color: black;
  a {
    color: white;
  }
}

.top-right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include horizontalMenuStyle;
  font-size: 12px;
}

.user-account-links {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.help, .login {
  padding: 10px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 30px;
  margin: {
    top: 0;
    left: 2%;
    right: 2%;
  }
  @include horizontalMenuStyle;
}

.main-menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  wrap: nowrap;
  a {
    font-weight: bold;
    font-size: 15px;
  }
}

.search-bag {
  display: flex;
  align-self: center;
  img {
    height: 25px;
    width: auto;
  }
}

#bag-icon {
  margin-left: 10px;
}

.cover-image {
  @include coverImageStyle;
}

.feature-slideshow {
  margin-bottom: 85px;
}

.category-title {
  @include categoryTitleStyle;
}

.row {
  @include rowStyle;
}

.col-md-3 {
  @include columnStyle;
}

.best-sellers {
  margin-bottom: 125px;
}

.product-labels {
  @include horizontalMenuStyle;
}
